.container-login {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    padding-top: 5px;
    border-radius: 10px;
    width: 320px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #00000063;
    flex-direction: column;
}

.form-login input {
    margin-top: 15px;
    /* margin-bottom: 10px; */
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 3px;
}

.form-login button {
    height: 35px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(151, 212, 233);
    width: 150px;
}

.form-login button:hover {
    background-color: orange;
}

.ir-register {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 15px;
}

.to-register {
    text-decoration: none;
    color: blue;
}

.to-register:hover {
    text-decoration: underline;
}

.container-login h2 {
    margin-bottom: 30px;
    font-weight: 900;
}

.olvide-password {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
    margin-top: 3px;
    margin-right: 155px;
}

.olvide-password:hover {
    text-decoration: underline;
}

.p-errors {
    margin-top: 5px;
    width: 300px;
    background-color: red;
    font-size: 14px;
    border: 1px solid black;
    color: rgba(245, 245, 245, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
