* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    max-width: 100vw;
    height: 60px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.267);
    font-size: 20px;
    margin-top: 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
}

nav img {
    width: 20px;
    height: 20px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
}

.menu-horizontal > li > p {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 2px;
    z-index: 5;
}


.menu-vertical p {
    color: rgb(107, 105, 247);
    font-weight: 700;
    background-color: rgba(41, 41, 41, 0.616);
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.822);
    border: 2px solid rgba(218, 13, 236, 0.575);
    cursor: pointer;
    color: white;
}

.menu-vertical.fecha {
    margin-right: 603px;
}

.menu-li .fecha{
    margin-left: 302px;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    margin-top: 60px;
    z-index: 5;
}

.menu-vertical li:hover {
    background-color: rgba(218, 13, 236, 0.575);
    color: white;
    border-radius: 3px;
    z-index: 5;
}

.menu-vertical li {
    color: white;
}

.menu-vertical li p {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}

.p-filter {
    color: black !important;
    font-weight: 700;
    cursor: pointer;
}

.p-filter:hover {
    color: white !important;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #202020;
    color: white;
}

#search {
    cursor: pointer;
    width: 35px;
    height: 35px ;
    border-radius: 5px;
}

#search:hover {
    background-color: #1a1a1aa6;
    padding: 5px;
}

#img-profile {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

li.register-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.menu-horizontal .register-li:hover .menu-vertical {
    margin-top: 105px;
    z-index: 5;
}

.menu-horizontal .register-li:hover .menu-vertical-hola {
    margin-top: 226px;
    z-index: 5;
}

li.menu-li {
    display: flex;
    justify-content: center;
}