* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    max-width: 100vw;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

nav img {
    width: 20px;
    height: 20px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.menu-horizontal > li:hover {
    background-color: red;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 100px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    margin-top: 20px;
    background-color: rgba(0, 128, 0, 0.322);
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li {
    display: block;
    padding: 10px;
    cursor: pointer;
}

/* asdf*/
section {
    width: 100px;
}

.menu-horizontal > section:hover {
    background-color: red;
    width: 100px;
}

.filtrado-categorias {
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(0, 0, 0, .5);
}

#asdf {
    margin-left: 100px;
}

.menu-horizontal section:hover .filtrado-categorias {
    display: flex;
    flex-direction: row;
    width: 100px;
}

.filtrado-categorias ul:hover {
    background-color: black;
}

.filtrado-categorias li {
    display: block;
    padding: 10px;
    cursor: pointer;
}
