.form-newPassword {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-newPassword h2 {
    margin-bottom: 10px;
}

.form-newPassword input {
    width: 270px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.form-newPassword button {
    width: 270px;
    margin-top: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(151, 212, 233);
    border: 2px solid black;
    font-weight: 700;
    cursor: pointer;
}

.form-newPassword button:hover {
    border: 2px solid rgb(151, 212, 233);
}