* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-task {
    display: flex;
    margin-top: 10px;
    width: 250px;
    height: 300px;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.container-task img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.container-task h3 {
    font-size: 15px;
    margin: 10px;
    font-weight: 600;
    color: rgb(7, 72, 126);
    /* overflow: hidden; */
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    /* word-wrap: break-word; */
    /* white-space: normal */
}

.container-task p {
    margin-left: 10px;
    font-size: 13px;
}

.container-task:hover {
    -webkit-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75); 
    margin-top: -10px;  
}

.container-task .p-genre {
    font-size: 13px;
    color: red
}


/* OTRO */
div.container-btn-taskPublica {
    display: flex;
    justify-content: space-around;
    margin-top:auto
}

.container-btn-taskPublica button {
    width: 100px;
    cursor: pointer;
    border: none;
    margin-bottom: 5px;
    padding: 3px;
    background-color: rgb(206, 136, 6);
    border-radius: 5px;
    color: white;
}

.container-btn-taskPublica button:hover {
    background-color: orange;
}

.container-btn-taskPublica .btn-delete {
    background-color: rgba(255, 0, 0, 0);
    color: black;
}

.container-btn-taskPublica .btn-delete:hover {
    background-color: red;
}

