body {
    margin: 0;
    padding: 0;
}

.container-taskDetail {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    max-width: 1000px;
}

.container-creador {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.container-creador button {
    margin-left: 5px;
    border: none;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    background-color: whitesmoke;
    color: black;
}

.container-creador #is-fav:hover {
    background-color: rgb(16, 114, 57);
    border: 2px solid rgb(16, 114, 57);
    color: white;
    cursor: pointer;
}

.container-creador #is-not-fav:hover {
    background-color: red;
    border: 2px solid red;
    color: white;
    cursor: pointer;
}

.container-taskDetail h2 {
    margin-top: 20px;
    font-size: 30px;
    overflow: hidden;
    word-wrap: break-word;
} 


.p-description {
    margin-top: 15px;
    font-size: 18px;
}

.p-genres {
    color: rgb(238, 77, 18)
}

.button-volver {
    background-color: whitesmoke;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 5px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    margin-left: 25vw;
    margin-right: 25vw;
    font-weight: 900;
}

.button-volver:hover {
    background-color: rgb(151, 212, 233);
    border: 5px solid rgb(151, 212, 233);
}